---
import NavbarShared from "../components/shared/navabar.shared";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			if(window.localStorage.getItem("theme") === 'dark' || !window.localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme:dark)').matches){
				document.documentElement.classList.add('dark');
				window.localStorage.setItem('theme', 'dark');
			} else {
				document.documentElement.classList.remove('dark');
				window.localStorage.setItem('theme', 'light');
			}
		</script>
	</head>
	<body>
		<NavbarShared client:only="react" />
		<main>
			<slot />
		</main>
	</body>
</html>
